* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding-top: 0px;
  font-family: Arial;
}

/* create web page header */


/* logo */
.circle{
overflow: hidden;
background: white;
display: inline-block;
text-align: center;
font-size: 15px;
padding:  0px 6px;
border: 5px solid teal;
border-radius: 50%;
width: 100px;
height: 100px;
box-shadow: 16px 13px 10px gray;

}

/* content navbar */
.content-nav{
overflow: hidden;
background: teal;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.content-nav ul li{
display: inline-block;
padding: 8px 8px;
padding-bottom: 16px;
}
.content-nav ul li a{
text-decoration: none;
color: whitesmoke;

}

/* Cente!r website */
.main {
  max-width: 100%;
  justify-content: space-between;
}

.row{
  padding: 10px 15px;
}

.column img {

margin-top: 12px;

}


/* Content */
.column {
  width: 50%;
  padding: 5px 25px;
  float: left;
  background-color: white; 
}

.content botton{
width: 100%;
background: teal;
color: whitesmoke;
font-size: 15px;
}

/* Style the footer */
footer {
  overflow: hidden;
  background-color: #0997;
  width: 100%;
  text-align: center;
  color: white;
}
